body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    }

button{
    border: none
} 

.d-flex {
     display: flex;
}

.c-flex {
    flex-direction: column;
   }



.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.chat {    
    height: 100%;
}

.sidebar .small-sidebar {
    background: #000;
    opacity: .7;
    width: 72px;
    }

.circle {
    width: 10px;
    height: 10px;
    background: red;
    border-radius:  50%;
}

.circles-container {
margin: 10px 10px 20px 
}

.circle.yellow {
    background: yellow;
}

.circle.green {
    background: green;
}

.icon {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50px;
}

.icon-container {
    margin: 10px 15px 10px;
}

.icon.a {
    background: #f0508d;
}

.icon.b {
    background: #E25A5A;
}

.icon.h {
    background: #127ABD;
}

.plus {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.opasity-img {
    opacity: 0.1;
    background: #000
}